<div class='{{elementPrefix}}-block {{elementPrefix}}-block-start frost-flex-1'>
  <div class='{{elementPrefix}}-primary'>
    {{model.name}}
  </div>
  <div class='{{elementPrefix}}-secondary'>
    espresso: {{model.espresso}}
  </div>
</div>

<div class='{{elementPrefix}}-block frost-flex-2'>
  <div class='{{elementPrefix}}-tertiary'>
    <span local-class='operation'>
      Milk: {{model.milk}}
    </span>
    <div>
      Other: {{model.other}}
    </div>
  </div>
</div>